# lxml also has this constraint in inmanta-dev-dependencies
lxml==5.4.0
ncclient==0.6.19
pyang==2.6.1
pytest==8.3.5
requests==2.32.3
scrapli==2025.1.30
paramiko==3.5.1
inmanta-core==15.0.0
pytest-inmanta==3.2.0
