# lxml also has this constraint in inmanta-dev-dependencies
lxml==6.0.0
ncclient==0.6.19
pyang==2.6.1
# pytest is dev-deps as well 
requests==2.32.5
scrapli==2025.1.30
paramiko==4.0.0
inmanta-core==15.0.0
pytest-inmanta==3.2.0
